* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1400px;
  height: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.input {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
}

button {
  padding: 10px;
  margin: 20px 0;
}

h1, #sliderValue {
  text-align: center;
}

#reset {
  margin-top: auto;
  margin-bottom: 0;
}

.container {
  flex-shrink: 0;
  display: grid;
  grid-auto-rows: auto;
  height: 500px;
  width: 500px;
  border: 2px solid;
}

.dot {
  height: auto;
  width: auto;
  user-select: none;
}