* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1400px;
  height: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.input {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  width: 100%;
}

button {
  padding: 10px;
  font-size: 16px;
}

h1, #sliderValue {
  text-align: center;
}

#reset {
  margin-top: auto;
  margin-bottom: 0;
}

.container {
  margin: 0 50px;
  flex-shrink: 0;
  display: grid;
  grid-auto-rows: auto;
  height: 700px;
  width: 700px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.dot {
  height: auto;
  width: auto;
  user-select: none;
  border: 1px inset rgba(0, 0, 0, 0.021);
}